body{
    background-image: URL("#{resource['images:background.jpg']}");
}


.header{
    position: relative !important;
    background-repeat: no-repeat;
    background-image: URL("#{resource['images:background_header.png']}");
    width: 1050px;
    height: 200px;
}

.cards{
    width: 100px;
    height: 80px;
    position: absolute !important;
    right: 160px;
    top: -15px;
}

.adminButton{
    position: absolute !important;
    top: 40px;
}


.contact_info{
    position: absolute !important;
    right: 10px;
    top: 120px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

.contact_info_text{
    font-family: Verdana, Geneva, sans-serif;
    font-size: x-large !important;
    font-weight: bold;
    color: white;
}

.text_description{
    font-size: medium;
}

.card{
    width: 80px;
    height: 40px;
}

.container{
    width: 1050px;
    margin-left: 22%;
}

